parameters:
		level: 8
		inferPrivatePropertyTypeFromConstructor: true
		checkMissingIterableValueType: false
		featureToggles:
			disableRuntimeReflectionProvider: true
		stubFiles:
			# Simulate added properties
			- phpstan/class-facetwp.php
			- phpstan/class-facetwp-facet.php
			- phpstan/class-wp-post-type.php
		bootstrapFiles:
			- phpstan/constants.php
			- wp-graphql-facetwp.php
		paths:
			- wp-graphql-facetwp.php
			- src/
		excludePaths:
			analyse:
				- src/vendor
			analyseAndScan:
				- ../wp-graphql/tests
		scanDirectories:
			- src/vendor/
			- ../wp-graphql/
			- ../facetwp/
