parameters:
		level: 8
		inferPrivatePropertyTypeFromConstructor: true
		checkMissingIterableValueType: false
		featureToggles:
			disableRuntimeReflectionProvider: true
		stubFiles:
			# Simulate added properties
			- phpstan/class-facetwp.php
			- phpstan/class-wp-post-type.php
		bootstrapFiles:
			- phpstan/constants.php
			- wp-graphql-facetwp.php
		paths:
			- wp-graphql-facetwp.php
			- src/
		scanDirectories:
			- ../wp-graphql/
			- ../facetwp/
