parameters:
		level: 8
		checkAlwaysTrueCheckTypeFunctionCall: true
		checkAlwaysTrueInstanceof: true
		checkAlwaysTrueStrictComparison: true
		checkExplicitMixedMissingReturn: true
		checkFunctionNameCase: true
		checkInternalClassCaseSensitivity: true
		checkMissingIterableValueType: true
		checkTooWideReturnTypesInProtectedAndPublicMethods: true
		inferPrivatePropertyTypeFromConstructor: true
		polluteScopeWithAlwaysIterableForeach: false
		polluteScopeWithLoopInitialAssignments: false
		reportAlwaysTrueInLastCondition: true
		reportStaticMethodSignatures: true
		reportWrongPhpDocTypeInVarTag: true
		treatPhpDocTypesAsCertain: false
		featureToggles:
			disableRuntimeReflectionProvider: true
		stubFiles:
			# Simulate added properties
			- phpstan/class-facetwp.php
			- phpstan/class-facetwp-facet.php
			- phpstan/class-wp-post-type.php
		bootstrapFiles:
			- phpstan/constants.php
			- wp-graphql-facetwp.php
		paths:
			- wp-graphql-facetwp.php
			- src/
		excludePaths:
			analyse:
				- vendor-prefixed
			analyseAndScan:
				- ../wp-graphql/tests
		scanDirectories:
			- ../wp-graphql/
			- ../facetwp/
		ignoreErrors:
			-
				message: '#Static method WPGraphQL\\FacetWP\\Registry\\FacetRegistry::register_facet_settings\(\) is unused\.#'
				path: src/Registry/FacetRegistry.php
